#adminTextbox{
    margin-left: 10px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(169, 212, 206); /* Hier kannst du die gewünschte Breite und Farbe des Randes einstellen */
    height: 300px; 
    width: 340px;
} 

#sugDeTitel {
    text-align: center;
    margin-bottom: 30px;
}
